configuration {
  modi: "drun";
  show-icons: true;                 /* set false for ultra-minimal */
  font: "JetBrains Mono 13";
  matching: "fuzzy";
  case-sensitive: false;
  sort: true;
  drun-match-fields: "name,generic,exec,categories,keywords";
  display-drun: "";
}

